@charset "utf-8";
/* 1차 포폴 CSS - common.css */

/*그리드뷰 재정의*/
.grid {
    z-index: -1;
}

/**************************** 1.상단영역 ******************************/
/*최상위박스*/
#top {
    position: relative;
    /*GNB Line박스의 부모*/
    z-index: 9999;
    /*가장위!*/
    border-top: 3px #b8d432 solid
}

/* 1-1. 로고 */
/* 부모자격 */
.lbx {
    position: relative;
    width: 158px;
}

/* 로고 포지션 */
.logo a img {
    position: absolute;

    margin: 0 auto;
}

.gnbbg{
    position: absolute;
    top: 102px;
    width: 100%;
    height: 0;/*170px;*/
    background-color: rgba(0, 0, 0, 0.69);
    transition: height .4s ease-out;
}

/* 네비게이션 부모박스 */
.navbx {
    position: relative;
    /*부모자격*/
}

/* gnb 메뉴 */
.gnb {
    position: absolute;
    width: 100%;
    top: 44px;
    left: 34px;
    /*부모? .navbx*/

    /*높이값을 설정하여 자식요소 숨기기/보이기*/
    height: 39px;
    overflow: hidden;
    /*넘치는 자식요소 숨기기*/
    transition: height .4s ease-out;
    /*트랜지션:속시이지*/

    outline: 5px dotted blue;
}

/*.gnb에 마우스 오버시 높이값 변경하여 하위메뉴 보이기*/
.gnb:hover {
    height: 225px;
}

/*각 dl박스*/
.gnb dl {
    position: relative;
    /*부모자격*/
    width: 205px;
    height: 172px;
    float: left;
    /*옆으로 흐르게*/
    box-sizing: border-box;
    padding-left: 20px;

    /*outline: 2px dotted red;*/
}

/*최상위 메뉴(dt)*/
.gnb dt {
    font: bold 14px Nanum;
    margin-bottom: 45px;
    color: #222;


}

.gnb dt a {
    text-decoration: none;
    color: #222;
}


/*dl에 마우스 오버시 dt의 a의 글자색 변경*/
.gnb dl:hover dt a {
    color: #b8d432;
}

/*하위메뉴(dd)*/
.gnb dd a {
    font: bold 11px/21px Nanum;
    color: #222;
    text-decoration: none;
}

/*하위메뉴에 마우스 오버시 글자색 변경*/
.gnb dd:hover a {
    color: #b8d432;
}

/* 1-3 홈메뉴 */
/* */
#tmenu{
    position: relative;
}
/* */
.tmenu{
    position: absolute;
    margin-top: -10px;
}
.tmenu li {
    float: left;
    list-style: none;
/*    letter-spacing: 1px;*/
}
.tmenu li a{
    color: #222;
    text-decoration: none;
    font-size: 14px;
    vertical-align: 2px
}
.tmenu li + li::before {
    content: "|";
    margin: 0 6px;
    font-size: 16px;
    vertical-align: 3px;
    padding: 5px;
    
}
.tmenu li a:hover{

    color: #678419;
}
.srch{
    position: absolute;
    top: 45px;
    left: 40px;
}

.srchicon::before{
    content: "돋보기";    
    font-style: normal;
}


/******************************** 2. 메인 이미지 영역 ********************************/
#bg {
    background: url(../img/main-bg.jpg) no-repeat center/cover;
    height: 480px;
   
}
.ban{
    background-image: url(../img/cover2.jpg);
}

/******************************** 3. 중단 메뉴 영역 ********************************/
/* 중단 메뉴 배경색*/
#mmenu {
    background: linear-gradient(to bottom, #f3f3f3 0, #eee 100%);
}

.icobx {
    
}




/*

.nav2{
    float: left;
}
*/


/********************************* 4. 콘텐츠 영역 *********************************/
#cont {
    position: relative;
    box-sizing: border-box;
}

/* 4-1. 좌측 배너*/
.lban a {
    background: url(../img/main_left_banner.jpg) center/cover;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 214px;
}

/* 4-2. 공지사항 영역 */
.anno {
    position: absolute;
    padding-left: 10px;
    width: 457.5px;
    height: 216px;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    background-color: #fff;
}

/* 공지사항 타이틀 */
.anno-li1 {
    text-decoration: none;
    color: #222
}

/* 더보기 */
.anno-li2 {
    float: right;
    font-size: 12px;
    color: #777;
    text-decoration: none;
}

/* 더보기 아이콘 */
.anno-li2 .ico::before {
    content: "⊞"
}

/* 더보기 마우스 오버 시 밑줄*/
.anno-li2:hover {
    text-decoration: underline;
}

/* 공지사항 리스트  */
.anno ul {
    border-top: 1px solid #ccc;
    margin: 10px;
    list-style: none;
    float: left;
}

.atit {
    margin: 0;
    font-size: 20px;
    color: #7a903e;
}

.anno ul li a {
    color: #222;
    text-decoration: none;
}

/* 공지사항 리스트 마우스 오버시 색 변환*/
.anno ul li a:hover {
    color: #678419;
}





/*************************** 5. 하단 영역 ***************************/
/* 하단 공통 1*/
#info {
    border-top: 1px solid #e4e4e4;
    background-color: #fafafa;

}

/* 하단 공통 2 */
.info {
    position: relative;
}

/* 하단 로고 1*/
.flogo1 {
    position: absolute;
    right: 215px;
}

/* 하단 로고 2*/
.flogo2 {
    position: absolute;
    right: 14px;
}

/* 하단 문구 */
.copyright {
    font-size: 12px;
    color: #222;
    text-align: right;
    margin-top: 75px;
}
